<a href="https://colab.research.google.com/github/linegithub/Study/blob/master/cap1exercico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import xlrd as xd
import numpy as np
import statistics as st
import matplotlib.pyplot as plt

In [ ]:
#abro o arquivo xlsx e pego a planilha
excel = xd.open_workbook('exibov.xlsx')
planilha = excel.sheet_by_name('PLAN')

In [ ]:
#pego as colunas de cada planilha e coloco em variáveis diferentes
vale = planilha.col_values(0)
gerdau = planilha.col_values(1)
vale

In [ ]:
#por conta dos textos "vale3" e "gerdau" e o espaçamento em branco, o array tá com dtype diferente
vale3 = np.array(vale)
ggbr4 = np.array(gerdau)
vale3

In [ ]:
#primeiro eu deleto esses dados a mais das duas colunas
vale3 = np.delete(vale3,[-2,-1])
ggbr4 = np.delete(ggbr4,[-2,-1])
vale3

In [ ]:
#e aqui eu mudo o dtype para float
vale3= vale3.astype('float64')
ggbr4= ggbr4.astype('float64')
vale3

In [ ]:
#para o eixo X, preparo o tempo de acordo com o tamanho dos dados
tempo = np.arange(0,len(vale3))
tempo

In [ ]:
#faço os gráficos =)
plt.subplot(211); plt.plot(tempo,vale3)
plt.subplot(212); plt.plot(tempo,ggbr4)

In [ ]:
retVALE3 = (vale3[1:28] - vale3[0:27]) / vale3[0:27]
retVALE3

In [ ]:
retGGBR4 = (ggbr4[1:28] - ggbr4[0:27]) / ggbr4[0:27]
retGGBR4

In [ ]:
time = np.arange(0,len(retGGBR4))
time

In [ ]:
plt.subplot(221); plt.plot(tempo,vale3)
plt.subplot(222); plt.plot(tempo,ggbr4)
plt.subplot(223); plt.plot(time,retVALE3)
plt.subplot(224); plt.plot(time,retGGBR4)